body{
  background-color:#e8e7d8;
}
footer{
  font-family: Morpheus;
}
#imageItemListe{
  height:50px;
  width:50px;
}
th,td,table{
  border: 2px solid black ;
}
p{
	font-size:10px;
}
#descListe{
  font-size: 20px;
}
td{
	font-size:15px;
}
#lienTD{
  width: 20%;
  text-align: center;
}
#tarifTD{
  width: 10%;
  text-align: center;
}
#instruction{
  font-size: 20px;
}

#item img{
  width: 500px;
  height: 500px;
}

#reserveItem p{
  text-align: center;
  font-size: 25px;
}

#fonctionnalites p{
  font-size: 20px;
  font: Terminal;
}
#fonctionnalites p:first-child{
  font-style: italic;
}

nav{
  display: inline;
}
a{
  background-color: #98d4f0;
  text-decoration: none;
  text-align: center;
  color: #616161;
  padding: 0.5%;
  transition: 0.5s;
  font-size: 20px;
}
a:hover{
  color: black;
  background-color: #e8e7d8;
}

#CreationCompte{
  text-align: center;
}
